.DoneRecipes {
  display: flex;
  flex-direction: column;
}

.DoneRecipes .doneCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 28px 16px;
}


.DoneRecipes .filterContainer {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: center;
}

.DoneRecipes .filterContainer button {
  background: var(--secondary-background-color);
  border: none;
  border-radius: 5px;
  font-size: 22px;
  height: 45px;
  width: 102px;

}

